$yellow: #f5ba4b;
$black: #212529;
$white: #f8f9fa;

header{
    background-color: white;
}
.container{
    width: 70%;
    margin: auto;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    .social{
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
            p{
                margin: 0;
            }
            a{
                margin: 10px 5px;
            }
            i{
                color: $black;
                padding: 10px;
            }
    }
    .navigation nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
            p{
                margin: 0;
            }
            li{
                list-style-type: none;
            }
            a{
                text-decoration: none;
                margin: 10px 0;
                color: $black;
                padding: 5px;
            }
    }
}
.logo{
    color: $black;
    padding: 16px;
    font-size: 25px;
}
.background-pic{
    background-image: url(./img/bg.jpg);
    width: 100%;
    min-height: 600px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    .container{
        // neina elementų nuleisti į paveiksliuko apačią
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-self: flex-end;
        // position: relative;
        color: $white;
        h1{
            width: 50%;
            color: white;
        }
        button{
            background-image: none;
            background-color: transparent;
            border: solid $yellow 1px;
            padding: 10px;
            display: inline-block;
            cursor: pointer;
            color: $white;
        }
    }
}


.section-2{
    .center{
        text-align: center;
    }
    h2, h3{
        color: $black;
    }
    p{
        color: gray;
    }

}
.wrapped{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    padding: 20px;
    i{
        color: $yellow;
    }
}