$yellow: #f5ba4b;
$black: #212529;
$white: #f8f9fa;
$dark-grey: #343a40;
$light-grey: #eeeeee;

body{
    margin: 0;
    font-family: 'Fira Mono', monospace;
    font-size: 0.8em;
}

header{
    background-color: white;
}
.container{
    width: 70%;
    margin: auto;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .head-space{
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
        .social{
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
                p{
                    margin: 0;
                }
                a{
                    margin: 10px 5px;
                }
                i{
                    color: $black;
                    padding: 10px;
                }
        }
    }
    // .navigation{
    //            justify-self: flex-end;

    // }
    .navigation nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
            p{
                margin: 0;
            }
            li{
                list-style-type: none;
            }
            a{
                text-decoration: none;
                margin: 10px 0;
                color: $black;
                padding: 5px;
            }
    }
}
.logo{
    color: $black;
    padding: 16px;
    font-size: 25px;
}
.background-pic{
    background-image: url(./img/bg.jpg);
    width: 100%;
    height: 750px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    .container{
        // neina elementų nuleisti į paveiksliuko apačią
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        // justify-self: flex-end;
        // position: relative;
        color: $white;
        margin-bottom: 50px;
        h1{
            width: 50%;
            color: white;
        }
        p{
            width: 55%;
            // letter-spacing: 0.1rem;
        }
        button{
            background-image: none;
            background-color: transparent;
            border: solid $yellow 1px;
            padding: 10px;
            // display: inline-block;
            width: fit-content;
            cursor: pointer;
            color: $white;
        }
    }
}

.background-white{
    height: 400px;
    display: flex;
    .container{
        // neina elementų nuleisti į paveiksliuko apačią
        // display: flex;
        // flex-direction: column;
        // align-items: flex-end;
        // justify-self: flex-end;
        // position: relative;
        margin: auto;
        color: $black;
        // margin-bottom: 50px;
    }
}
.section-2{
    padding-top: 20px;
    // height: 400px;
    margin: auto;
    .center{
        text-align: center;
        margin: 0 auto;
        width: 60%;
    }
        h2, h3{
            color: $black;
        }
        p{
            color: $dark-grey;
        }
        .wrapped{
            display: flex;
            flex-wrap: nowrap;
            text-align: center;
            padding: 20px;
            .middle{
                padding-left: 10px;
                padding-right: 10px;
            }
            i{
                color: $yellow;
            }
        }

}

.grey-background{
    background-color: #eeeeee;
    height: 400px;
    display: flex;
    // align-items: flex-end;
    .container{
        // neina elementų nuleisti į paveiksliuko apačią
        // display: flex;
        // flex-direction: column;
        // align-items: flex-end;
        // justify-self: flex-end;
        // position: relative;
        margin: auto;
        color: $black;
        // margin-bottom: 50px;
        padding-top: 30px;
            h2{
                color: $black;
                width: 50%;
            }
            p{
                color: $dark-grey;
            }
            button{
                background-image: none;
                background-color: transparent;
                border: solid $yellow 1px;
                padding: 10px;
                // display: inline-block;
                width: fit-content;
                cursor: pointer;
                color: $black;
            }
            .orange{
                color: $yellow;
            }
    }
}

.section-3{
    display: flex;
    flex-direction: row;
    align-items: center;
        .left{
            padding: 20px;
            padding-left: 0;
            width: 65%;
        }
        .right{
            padding: 20px;
            padding-right: 0;
            width: 35%;
            border-left: solid 1px $yellow;
            display: inline-block;
        }
}

.photo-big{
    width: 100%;
}
// .photos-bottom{
//     width: 100%;
//     display: flex;
//     flex-wrap: nowrap;
//     // margin: auto;
//     display: block;
//     img{
//         // margin: 5px;
//         max-width: 100%;;
//         display: block;
//     }
// }
.photos-top{
    margin-top: 50px;
    text-align: center;
    margin: auto;
    width: 60%;
    h2{
        color: $black;
        padding: 20px;
    }
    p{
        color: $dark-grey;
        padding-bottom: 20px;
    }

}
.photos-bottom{
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
    // grid-row-gap: 5px;
    img{
        // display: block;
        max-width: 100%;
    }
}

.map{
    padding-top: 20px;
    // height: 400px;
    margin: auto;
    padding-top: 100px;
    .container{
        margin: auto;
        iframe{
            margin-bottom: 100px;
        }
    }
    .center{
        text-align: center;
        margin: 0 auto;
        width: 60%;
        h2{
            color: $black;
        }
        p{
            color: $dark-grey;
            padding: 20px 0;
        }
    }
}

footer{
    background-color: $dark-grey;
    height: 250px;
    // padding-top: 100px;
    display: flex;
    align-content: center;
    .container{
        display: flex;
        justify-content: space-between;
        // align-content: center;
        // margin: auto;
        .logo-text{
                color: $white;
                padding: 16px;
                font-size: 25px;
        }
        p{
            color: $light-grey;
            padding-left: 10px;
        }
        .navigation ul{
            display: flex;
            flex-direction: row;
            align-items: center;
                li{
                    list-style-type: none;
                }
                a{
                    text-decoration: none;
                    margin: 10px 0;
                    color: $black;
                    padding: 5px;
                    color: $light-grey;
                }
        }
        .social{
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
                a{
                    margin: 10px 5px;
                }
                i{
                    color: $yellow;
                    padding: 10px;
                }
        }
    }
}